Repository reactjs/es.react.dev, pull requests merged in 2019-02, with the labels that each got.

#124 Spanish translation of faq-functions
  content/docs/faq-functions.md
Labels: has-reviewer

#145 Translate Code-Splitting
  content/docs/code-splitting.md
Labels: has-reviewer, needs-review

#146 [Done] Translate: Design Principles
  content/docs/design-principles.md
Labels: changes-requested, has-reviewer

#83 Translate Tutorial
  content/tutorial/nav.yml
  content/tutorial/tutorial.md
Labels: has-reviewer, needs-review

#77 Translate: handling events docs
  content/docs/handling-events.md
Labels: changes-requested, has-reviewer

#152 Translation of reconciliation
  content/docs/reconciliation.md
Labels: changes-requested, has-reviewer

#132 Translate: Basics > Forms
  content/docs/forms.md
Labels: changes-requested, has-reviewer

#150 translate composition-vs-inheritance to spanish
  content/docs/composition-vs-inheritance.md
Labels: has-reviewer, needs-review

#154 Translate faq-versioning to spanish
  content/docs/faq-versioning.md
Labels: changes-requested, has-reviewer, needs-review

#155 translating doc/nav.yml
  content/docs/nav.yml
Labels: has-reviewer, needs-review

#164 Translated: Components (CodeEditor, CodeExample, ErrorDecoder, MarkdownPage)
  src/components/CodeEditor/CodeEditor.js
  src/components/CodeExample/CodeExample.js
  src/components/ErrorDecoder/ErrorDecoder.js
Labels: has-reviewer, needs-review

#160 Translate LayoutFooter and LayoutHeader
  content/community/nav.yml
  src/components/LayoutFooter/Footer.js
  src/components/LayoutHeader/DocSearch.js
  src/components/LayoutHeader/Header.js
Labels: has-reviewer, needs-review

#172 Add space in link
  content/docs/static-type-checking.md
Labels: needs-review

#156 Introducing Hooks Spanish translation
  content/docs/hooks-intro.md
Labels: changes-requested, has-reviewer, needs-review

#170 Translating code back to english
  content/docs/composition-vs-inheritance.md
Labels: needs-review

#169 Explicitly use "Pruébalo en CodePen"
  gatsby-config.js
Labels: needs-review

#176 hooks effect last minute review
  content/docs/hooks-effect.md
Labels: changes-requested, has-reviewer, needs-review

#78 Translate Context
  content/docs/context.md
  examples/context/motivation-problem.js
  examples/context/motivation-solution.js
  examples/context/multiple-contexts.js
  examples/context/theme-detailed-app.js
  examples/context/theme-detailed-theme-context.js
Labels: changes-requested, has-reviewer

#147 translate error boundaries documentation to spanish
  content/docs/error-boundaries.md
Labels: changes-requested, has-reviewer

#175 integrating-with-other-libraries translated to spanish
  content/docs/integrating-with-other-libraries.md
Labels: changes-requested, has-reviewer

#180 [translate faq jsx-babel-buildstep].
  content/docs/faq-build.md
  content/docs/nav.yml
Labels: has-reviewer, needs-review

#151 Translate Hooks FAQ
  content/docs/hooks-faq.md
Labels: changes-requested, has-reviewer

#185 Minor translation changes in homepage
  content/home/examples/a-simple-component.md
  content/home/examples/a-stateful-component.md
Labels: changes-requested, has-reviewer

#182 Translated render-props
  content/docs/render-props.md
Labels: has-reviewer, needs-review

#187 translate: js fiddle integration blog post
  content/blog/2013-06-02-jsfiddle-integration.md
Labels: has-reviewer, needs-review
