Repository reactjs/es.react.dev, pull requests merged in 2019-03, with the labels that each got.

#186 Codebase Overview Translation
  content/docs/codebase-overview.md
Labels: has-reviewer, needs-review

#153 translating how to contribute section.
  content/docs/how-to-contribute.md
Labels: changes-requested, has-reviewer

#195 Update hooks-state.md
  content/docs/hooks-state.md
Labels: needs-review

#190 translate: why we built react?
  content/blog/2013-06-05-why-react.md
Labels: has-reviewer, needs-review

#199 Translate is-react-translated-yet blog post
  content/blog/2019-02-23-is-react-translated-yet.md
Labels: has-reviewer, needs-review

#196 Implementation notes translation
  content/docs/implementation-notes.md
Labels: has-reviewer, needs-review

#194 Optimizing performance
  content/docs/optimizing-performance.md
Labels: has-reviewer, needs-review

#207 add Support page translation
  content/community/support.md
Labels: has-reviewer, needs-review

#209 add Podcasts Translation
  content/community/podcasts.md
Labels: has-reviewer, needs-review

#210 add Meetups Translation
  content/community/meetups.md
Labels: changes-requested, has-reviewer

#211 Translating Courses
  content/community/courses.md
Labels: changes-requested, has-reviewer

#212 add Testing Translation
  content/community/tools-testing.md
Labels: changes-requested, has-reviewer

#214 Add Community/Routing translation
  content/community/tools-routing.md
Labels: has-reviewer, needs-review

#220 Translate Data Fetching
  content/community/tools-data-fetching.md
Labels: changes-requested, has-reviewer
