Repository reactjs/es.react.dev, pull requests merged in 2023-07, with the labels that each got.

#789 Translate sidebarCommunity.json
  src/sidebarCommunity.json
Labels: needs-review

#790 Update versioning-policy.md
  src/content/community/versioning-policy.md
Labels: needs-review

#787 Translate CONTRIBUTING.md
  CONTRIBUTING.md
Labels: needs-review

#788 Translate CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: needs-review

#796 Update react-canaries.md
  src/content/blog/2023/05/03/react-canaries.md
Labels: needs-review

#792 Update react-canaries.md
  src/content/blog/2023/05/03/react-canaries.md
Labels: needs-review

#781 Update describing-the-ui.md
  src/content/learn/describing-the-ui.md
Labels: needs-review

#842 Translate use server directive reference
  src/content/reference/react/use-server.md
Labels: needs-review, beta

#846 Translate directives.md and sidebarReference.json
  src/content/reference/react/directives.md
  src/sidebarReference.json
Labels: needs-review

#841 Update you-might-not-need-an-effect.md
  src/content/learn/you-might-not-need-an-effect.md
Labels: in-progress, needs-review, beta

#851 Correction of links to Spanish
  src/content/blog/2021/12/17/react-conf-2021-recap.md
  src/content/blog/2022/03/08/react-18-upgrade-guide.md
  src/content/blog/index.md
  src/content/reference/react-dom/components/common.md
  src/content/reference/react/Component.md
  src/content/reference/react/StrictMode.md
  src/sidebarBlog.json
Labels: needs-review

#852 Translation, consistency of <ConsoleBlock> blocks.
  src/content/blog/2022/03/08/react-18-upgrade-guide.md
  src/content/learn/manipulating-the-dom-with-refs.md
  src/content/learn/rendering-lists.md
  src/content/learn/thinking-in-react.md
  src/content/learn/tutorial-tic-tac-toe.md
  src/content/reference/react-dom/components/input.md
  src/content/reference/react-dom/components/textarea.md
  src/content/reference/react/useRef.md
  src/content/warnings/invalid-hook-call-warning.md
Labels: needs-review

#854 Translation of sidebarBlog.json
  src/content/blog/2020/12/21/data-fetching-with-react-server-components.md
  src/content/blog/2023/05/03/react-canaries.md
  src/content/blog/index.md
  src/sidebarBlog.json
Labels: needs-review

#856 Translate renderToStaticMarkup.md
  src/content/reference/react-dom/server/renderToStaticMarkup.md
Labels: needs-review

#857 Updated translation of the word "return"
  content/docs/concurrent-mode-patterns.md
  content/docs/concurrent-mode-reference.md
  src/content/blog/2022/03/08/react-18-upgrade-guide.md
  src/content/blog/2022/03/29/react-v18.md
  src/content/blog/2023/03/16/introducing-react-dev.md
  src/content/community/videos.md
  src/content/learn/index.md
  src/content/learn/keeping-components-pure.md
  src/content/learn/passing-data-deeply-with-context.md
  src/content/learn/queueing-a-series-of-state-updates.md
  src/content/learn/reusing-logic-with-custom-hooks.md
  src/content/learn/state-a-components-memory.md
  src/content/learn/updating-arrays-in-state.md
  src/content/learn/you-might-not-need-an-effect.md
  src/content/learn/your-first-component.md
  src/content/reference/react-dom/components/common.md
  src/content/reference/react-dom/components/input.md
  src/content/reference/react-dom/createPortal.md
  src/content/reference/react-dom/findDOMNode.md
  src/content/reference/react-dom/flushSync.md
  src/content/reference/react-dom/hydrate.md
  src/content/reference/react-dom/render.md
  src/content/reference/react-dom/server/renderToNodeStream.md
  src/content/reference/react-dom/server/renderToPipeableStream.md
  src/content/reference/react-dom/server/renderToString.md
  src/content/reference/react/Children.md
  src/content/reference/react/Component.md
  src/content/reference/react/Fragment.md
  src/content/reference/react/createContext.md
  src/content/reference/react/createRef.md
  src/content/reference/react/lazy.md
  src/content/reference/react/startTransition.md
  src/content/reference/react/useCallback.md
  src/content/reference/react/useContext.md
  src/content/reference/react/useDebugValue.md
  src/content/reference/react/useEffect.md
  src/content/reference/react/useId.md
  src/content/reference/react/useLayoutEffect.md
  src/content/reference/react/useReducer.md
  src/content/reference/react/useState.md
  src/content/reference/react/useSyncExternalStore.md
  src/content/warnings/invalid-hook-call-warning.md
Labels: needs-review

#858 Consistency of preserving-and-resetting-state.md
  src/components/MDX/Sandpack/ResetButton.tsx
  src/content/blog/2022/03/08/react-18-upgrade-guide.md
  src/content/blog/2023/03/16/introducing-react-dev.md
  src/content/learn/conditional-rendering.md
  src/content/learn/extracting-state-logic-into-a-reducer.md
  src/content/learn/installation.md
  src/content/learn/managing-state.md
  src/content/learn/preserving-and-resetting-state.md
  src/content/learn/reacting-to-input-with-state.md
  src/content/learn/referencing-values-with-refs.md
  src/content/learn/removing-effect-dependencies.md
  src/content/learn/reusing-logic-with-custom-hooks.md
  src/content/learn/scaling-up-with-reducer-and-context.md
  src/content/learn/separating-events-from-effects.md
  src/content/learn/state-a-components-memory.md
  src/content/learn/tutorial-tic-tac-toe.md
  src/content/learn/updating-objects-in-state.md
  src/content/learn/you-might-not-need-an-effect.md
  src/content/learn/your-first-component.md
  src/content/reference/react-dom/client/createRoot.md
  src/content/reference/react-dom/client/hydrateRoot.md
  src/content/reference/react-dom/components/input.md
  src/content/reference/react-dom/components/select.md
  src/content/reference/react-dom/components/textarea.md
  src/content/reference/react/Component.md
  src/content/reference/react/Fragment.md
  src/content/reference/react/Suspense.md
  src/content/reference/react/forwardRef.md
  src/content/reference/react/lazy.md
  src/content/reference/react/memo.md
  src/content/reference/react/useDeferredValue.md
  src/content/reference/react/useEffect.md
  src/content/reference/react/useReducer.md
  src/content/reference/react/useState.md
  src/content/reference/react/useSyncExternalStore.md
  src/content/reference/react/useTransition.md
  src/sidebarLearn.json
Labels: needs-review
